<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
</head>
<body>
    <div class="checkout-container">
        <h1>주문이 접수되었습니다.</h1>
        <a>우리은행 1005-303-386225로</a>
        <h3>돈을 보내주셔야 주문이 완료됩니다.</h3>
        <p class="total-price">총 결제 금액: {{ total }} KRW</p>
        <a class="return-link" href="{{ url_for('index') }}">돌아가기</a>
    </div>
</body>
</html>
